/*========REGISTRAZIONE========*/

.bg_body_registrati {
    background-size: cover;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%), url(../images/risultati.jpg);
    background-repeat: no-repeat;
}

/* Posizionamento del modulo registrazione sotto la navbar fissa */
.register-container {
    margin-top: 7rem;
}

/* Stile della scheda di registrazione */
.register-card {
    background-color: rgba(0, 0, 0, .8);
    border: none;
    border-radius: .5rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    color: #333;
    padding: 2rem;
    color: white;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
}

.terms{
    color: cornflowerblue;
}

.err-reg {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #721c24; 
    background-color: #f8d7da; 
    border: 1px solid #f5c6cb; 
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 3px;
    z-index: 10001;
}